doctype html
html
  head
    title= title
    link(href="http://cdn.sstatic.net/stackoverflow/img/favicon.ico?v=038622610830",rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
